%h1 Accessibility at AndConf

%p
  St. Dorothy’s Rest was built in 1906, and with its rustic charm comes some accessibility challenges.
  While the venue has hosted people in wheelchairs before, the space is not fully ADA compliant and
  includes some steep grades. If you are a wheelchair user or someone with mobility issues and you’re
  interested in attending, get in touch with us at #{ mail_to INFO_EMAIL } and we can give you all the details
  to make sure the space will be a fit for you.

%p
  Please contact the organizers if you have any specific questions, including about specific
  door widths or inclines.

%h2 Accommodations

%p
  Accommodations are rustic but charming (think summer camp) and include a mix of bunk beds and
  single beds in shared rooms; bathrooms are down the hall. Attendees can choose to stay in all-gender or
  single-gender housing (we are emphatically queer- and trans-inclusive!). All-gender dorms and the
  main conference buildings will have dedicated gender neutral bathrooms.

%p
  If you need a room with specific characteristics like a refrigerator to store medication or an outlet
  for a medical device, just shoot us an email and we can work out the details: #{ mail_to INFO_EMAIL }.

%h2 Alcohol

%p
  Alcohol at AndConf will be limited to two happy hours during the weekend, and attendees are asked
  not to bring any additional alcohol with them.

%p
  While many AndConf attendees (and organizers) imbibe, we want to keep the event accessible to
  attendees who have different comfort levels around alcohol. Because we’re all in the same place
  for the whole weekend, we lean toward being conservative. During the happy hours, alcohol
  consumption will be limited to the common area of the Main House, and alternative hanging out will be encouraged in other buildings. We will also be serving EANABs (Equally Attractive Non-Alcoholic Beverages) during the happy hours.

%p
  Attendees that bring alcohol with them risk being expelled from the conference. :\

