.row
  .col-md-10.col-md-offset-1
    %h4 To be approved, an application needs:
    %ul
      %li #{Application::MINIMUM_YES}+ yes votes
      %li <2 no votes
      %li Have been submitted for at least 7 days

    %p The number of yes votes required is half of the voting membership, rounding down when it's an odd number of people.

%h3 Applications to Approve
= render 'application_approval_table', applications: @to_approve

%h3 Applications to Reject
= render 'application_approval_table', applications: @to_reject

%h3 Applications that need more votes
= render 'application_approval_table', applications: @unknown
