%p Hello, #{@attendance.user.name}!

%p
  AndConf is fast approaching! If you’re wondering what to pack, here’s some suggestions.

%h4 
  St. Dorothy's Rest provides linens, towels, and meals, so you just need to 
  bring the essentials:

%ul.mt-10
  %li Spare keyboards and mice, if you have some handy or can borrow.
  %li Your laptop and charger.
  %li
    Your programming languages, testing frameworks, package dependencies, and 
    documentation, downloaded onto your laptop and set up before you leave home. 
    Wifi is intermittent/very limited at the conference.
  %li
    Clothing for warm weather and cool weather. It can be hot during the day 
    and cool at night. Outdoors-friendly shoes are a good idea — the path between 
    the main house and some of the dorms is a bit rocky.
  %li
    Toiletries. St. Dorothy’s Rest does not provide any toiletries. 
    Picture summer camp.

%h4 Optional items that could be handy:

%ul.mt-10
  %li A flashlight or headlamp.
  %li
    Snacks. the conference provides meals at breakfast, lunch & dinner time, 
    and light snacks, but you may want to bring some favorite snacks in case you 
    get hungry. The venue is far from any stores so you won’t be able to pop out 
    and resupply during the weekend. If you have severe food restrictions and need 
    to prepare your own meals, please be sure to let us know so we can put you in 
    a house with a kitchen.
  %li
    A swimsuit. We’ll have access to a pool during the short afternoon breaks 
    on Saturday and Sunday, so if you like to swim, bring a swimsuit. 
    Participation is super optional.
  %li Shower shoes/sandals. Bathrooms are shared and down the hall.
  %li
    Travel eye mask, if you like a dark room for getting some zzz’s. (Some of 
    the rooms have real big windows.)
  %li
    Crafty items and/or nail polish if you’d like to participate in the 
    unofficial #craftconf or #nailconf sessions.

%p 
  We’ll also bring extras of some essentials like bug spray and earplugs, but 
  feel free to bring your own if you’d prefer.

%h4 Is there anything I shouldn't bring?

%ul.mt-10
  %li Alcohol (AndConf will provide wine and beer during the two happy hours.)
  %li
    Pets (Service animals are obviously welcome — email attend@andconf.io if 
    you will be bringing a service animal)
=render "layouts/mailer_footer"
