%p Hello, #{@attendance.user.name}!

%p
  AndConf is fast approaching! If you’re wondering what to pack, here’s some suggestions.

%h4 
  St. Dorothy's Rest provides linens, towels, and meals, so you just need to 
  bring the essentials:

%ul.mt-10
  %li Spare keyboards and mice, if you have some handy or can borrow.
  %li Your laptop and charger.
  %li
    Your programming languages, testing frameworks, package dependencies, and 
    documentation, downloaded onto your laptop and set up before you leave home. 
    Wifi is intermittent/very limited at the conference.
  %li
    Clothing for warm weather and cool weather. It can be hot during the day 
    and cool at night. Outdoors-friendly shoes are a good idea — the path between 
    the main house and some of the dorms is a bit rocky.
  %li
    Toiletries. St. Dorothy’s Rest does not provide any toiletries. 

%h4 Optional items that could be handy:

%ul.mt-10
  %li A flashlight or headlamp.
  %li
    Snacks. the conference provides meals at breakfast, lunch & dinner time, 
    and light snacks, but you may want to bring some favorite snacks in case you 
    get hungry. The venue is far from any stores so you won’t be able to pop out 
    and resupply during the weekend. If you have severe food restrictions and need 
    to prepare your own meals, please be sure to let us know so we can put you in 
    a house with a kitchen.
  %li
    A swimsuit. We’ll have access to a pool during the short afternoon breaks 
    on Saturday and Sunday, so if you like to swim, bring a swimsuit. 
    Participation is super optional.
  %li Shower shoes/sandals. Bathrooms are shared and down the hall.
  %li
    Travel eye mask, if you like a dark room for getting some zzz’s. (Some of 
    the rooms have real big windows.)
  %li
    Crafty items and/or nail polish if you’d like to participate in the 
    unofficial #craftconf or #nailconf sessions.

%p 
  We’ll also bring extras of some essentials like bug spray and earplugs, but 
  feel free to bring your own if you’d prefer.

%h4 Is there anything I shouldn't bring?

%ul.mt-10
  %li Alcohol (AndConf will provide wine and beer during the two happy hours.)
  %li
    Pets (Service animals are obviously welcome — email attend@andconf.io if 
    you will be bringing a service animal)

And now a word from two of our lovely sponsors, Carbon Five and Omada Health:

%p
  Carbon Five is proud to be a two-time AndConf sponsor and attendee. Be sure 
  to keep an eye out for our team.

%p
  Carbon Five is an experienced web & mobile software firm. We believe a diverse
  team and collaborative culture creates the best work.

%p
  We have offices in San Francisco, Santa Monica, Chattanooga and our newest 
  location in New York City. We regularly host events, from Hack Nights to 
  Talks with guest speakers, across all of our locations. If you want to come 
  along for the ride, follow us on our #{ link_to "blog", "http://blog.carbonfive.com/" }.

%hr

%p
  We help people reduce their risk for chronic disease (like type 2 diabetes) 
  through an online program that teaches people how to live healthier in a 
  Hello from the engineering team at
  %b #{ link_to "Omada Health", "https://www.omadahealth.com/"}!
  long-term, sustainable way.

%p
  We love hiring collaborative and communicative engineers! We pair program 60% 
  to 90% of the time, depending on the team, so if you enjoy pairing at the code 
  retreat, hit us up. We’re primarily a Ruby shop with a few different
  Rails apps, plus iOS and Android apps.

%p
  We’ve got about 35 engineers across our seven teams, and we’d love to 
  #{ link_to "talk to you about joining us", "http://www.omadahealth.com/jobs" }! 
  Talk to Lillie or Ian while you’re at AndConf and they’ll tell you all about 
  what it’s like to work at Omada :D

=render "layouts/mailer_footer"
