%table{style: "width: 700px;"}
  %tr
    %td
      %p
        Hi #{@user.name}!

      %p
        You're all set for attending AndConf 2016! See you in August.

      %p
        We'll be in touch with additional
        information closer to the conference.

      = render "layouts/mailer_footer"

