%table{style: "width: 700px;"}
  %tr
    %td
      %p
        Hi #{@user.name}!

      %p
        You're all set for attending AndConf 2016! See you in August.

      %p
        We'll be in touch with additional
        information closer to the conference.
        If you have any questions, email #{ mail_to MEMBERSHIP_EMAIL }.

      %p
        All the best,
        %br/
        AndConf
        %br/
        @andconf
        %br/
        = link_to "www.andconf.io", SITE_URL
