%HTML
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p Hi, #{@user.name}!
    %p Thanks for applying to Double Union!
    %p What happens now?
    %p If you have any questions, feel free to email the membership coordinators at #{ mail_to INFO_EMAIL }.

    %p
      All the best,
      %br/
      AndConf
      %br/
      @andconf
      %br/
      = link_to "www.andconf.io", SITE_URL
