%table{style: "width: 700px;"}
  %tr
    %td
      %p
        Hi #{@user.name}!
        - unless @user.is_scholarship
          %p
            Thank you for purchasing a ticket to AndConf for $325 on #{Date.today.strftime('%B %-d, %Y')}.
      %p
        You're all set for attending AndConf 2016! See you in August.

      %p
        We'll be in touch with additional
        information closer to the conference.

      = render "layouts/mailer_footer"

