%HTML
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      Hi #{@user.name},
    %p
      Your application has been open for two weeks and doesn't yet have a sponsor.
    %p
      Feel free to email #{ mail_to INFO_EMAIL } if you have any questions.
    %p
      All the best,
      %br/
      Double Union
      %br/
      @doubleunionsf
      %br/
      = link_to "www.andconf.io", SITE_URL
