.mb-0 {
  margin-bottom: 0px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.pl-10 {
  padding-left: 10px;
}

.ptb-10 {
  padding: 10px 10px 10px;
}

.pt-10 {
  padding-top: 10px;
}

.min-width-150 {
  min-width: 150px;
}

.max-width-150 {
  max-width: 150px;
}

.ib {
  display: inline-block;
}
