-# locals:
-#   scholarship: boolean

%p
  Tickets are non-transferrable. If between now and Friday, July 15th you find
  out you can’t attend, please #{ link_to "email us", "mailto:#{ATTEND_EMAIL}" }
  ASAP and we’ll

  - unless scholarship
    refund your ticket and

  offer a spot to someone on the waitlist.

  - unless scholarship
    If you need to cancel after that date, we’d still appreciate you letting us
    know, but we aren’t able to process refunds after July 15th.

%p
  If you have an emergency and need to cancel at the last minute, we’d appreciate
  an email (if you’re able) so we will know not to assemble s’mores for you or
  frantically inquire about your whereabouts as the sun goes down over St.
  Dorothy’s Rest.

%p
  Like last year, we have a policy that silent no-shows may not
  be allowed to attend future AndConfs!
