%h1 Wanna come to AndConf?

%p We hope you can come!

= form_for @user, url: confirm_attendances_path, method: :put, html: { class: "form" } do |f|
  .form-group
    = f.label :gender, "Gender"
    = f.text_field :gender
  %p
    = f.submit "Submit", class: "btn btn-primary"
