%h1 AndConf Attendee Registration

%p You'll be able to edit this form until the end of July, in case your plans change.

%p As always, if you have any questions or concerns, please email #{ATTEND_EMAIL}.

%p If your plans have changed and you can no longer attend, please email #{ATTEND_EMAIL} as soon as possible.
= render "form"
