= content_for :js do
  = javascript_include_tag :dues

%p
  Tickets to AndConf cost $325, which includes 8 meals and 3 nights lodging at the venue, St. Dorothy's Rest, as well
  as transportation to and from downtown San Francisco.

= form_tag pay_attendances_path, method: :put, id: "payment-form" do
  %a#js-dues.btn.btn-primary{ href: "#", data: { key: "#{ENV['STRIPE_PUBLISHABLE_KEY']}", email: @user.email } } Purchase Ticket

%script{src: 'https://checkout.stripe.com/checkout.js'}
