%h2 Scholarship Confirmation

%p
  We're so excited to offer you a scholarship ticket to attend AndConf.
  We're able to give out a limited number of tickets based on donations and sponsorships,
  so it's really important that you show up if you accept this ticket.

%p
  Last year, all of our no-shows were scholarship recipients, which was heartbreaking
  because there were other awesome people who could have been excellent
  members of the AndConf community. Please keep that in mind when signing up.

%p
  If something comes up and you won't be able to attend, please email info@andconf.io
  as soon as possible so that we can try to find someone to take your spot.

= form_tag confirm_scholarship_attendances_path, method: :put do
  = check_box_tag :attending, "yes"
  = label_tag :attending, "I can definitely attend the entirety of the conference."
  .mt-10
    = submit_tag "Confirm Attendance", class: "btn btn-primary"


